/* New feature, this makes transitioning custom properties possible */

@property --accent-header {
    syntax: '<color>';
    inherits: true;
    initial-value: black;
}

@property --background-header {
    syntax: '<color>';
    inherits: true;
    initial-value: transparent;
}

@keyframes float {

    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}

@keyframes shrink-header {
    from {
        --accent-header: light-dark(#1a1a1a, #F7F7F7);
        --background-header: var(--light-background);
        height: 6.25rem;
        background-color: var(--background-header);
        backdrop-filter: blur(0px);
    }
    
    to {
        --accent-header: light-dark(#F7F7F7, #F7F7F7);
        --background-header: rgba(0, 0, 0, 0.899); 
        height: 4.75rem;
        background-color: var(--background-header);
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        backdrop-filter: blur(10px);
    }
}

/* Fade in animation of elements */


@supports (animation-timeline: view()) {
    @keyframes smoothBounce {
        0% { 
            transform: translateX(-100%); 
            opacity: 0;
        }

        100% { 
            transform: translateX(0%); 
            opacity: 1;
        }
    }

    .scroll-animated {
        overflow: hidden;
        opacity: 0;
        will-change: transform, opacity;
        animation: smoothBounce linear both; 
        animation-timeline: view(); 
        animation-range: cover 0% cover 30%; 
    }

    .workwrapper {
        @media (min-width: 789px) {
            .portfolio-item.scroll-animated:nth-child(1) { animation-range: entry 0% entry 25%; }
            .portfolio-item.scroll-animated:nth-child(2) { animation-range: entry 10% entry 35%; }
            .portfolio-item.scroll-animated:nth-child(3) { animation-range: entry 20% entry 45%; }
            .portfolio-item.scroll-animated:nth-child(4) { animation-range: entry 30% entry 55%; }
            .portfolio-item.scroll-animated:nth-child(5) { animation-range: entry 40% entry 65%; }
            .portfolio-item.scroll-animated:nth-child(6) { animation-range: entry 50% entry 75%; }
        }
    }
}

