[popover]#mobile-menu {
    width: 100vw;
    height: 90dvh;
    position: absolute;
    top: 100%;
    z-index: 3;
     /* vars so i can reuse them */
    --speed: 0.3s;
    --easing: ease-out;
    --opacity-start: 0;
    
    border: none;
    opacity: var(--opacity-start);
    background-color: var(--light-background);
    transform: translateY(-100%);
    transition: 
        opacity var(--speed) var(--easing), 
        transform var(--speed) var(--easing), 
        display var(--speed) var(--easing) allow-discrete, 
        overlay var(--speed) var(--easing) allow-discrete;

    &:popover-open {
        opacity: 1;
        transform: translateY(0);

        @starting-style {
            opacity: var(--opacity-start);
            transform: translateY(-100%);
        }
    }

    nav {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    a {
        transition: color 0.5s ease;
    }
}

main.home {
    display: flex;
    flex-wrap: wrap;

    section.imgijs {
        width: 100%;
        height: fit-content;
        position: relative;

        @media (min-width: 800px) {
            width: 45%;
            margin-right: 5%
        }

        h1 {
            margin-bottom: 1rem;

            @media (min-width: 800px) {
                margin-bottom: 6rem;
            }
        }

        svg.arrow {
            position: absolute;
            top: 12%;
            left: 5%;

            @media (min-width: 800px) {
                top: 16%;
                left: 10%;
            }
        }

        picture.memo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        img.memo {
            min-width: 9.375rem;
            width: 50%;
            max-width: 15rem;
            height: auto;
        }

        img.techstack {
            position: absolute;
            width: calc(1vw + 3rem + 2%);
            height: auto;

            &.pos-1 {
                top: 20%;
                right: 10%;
                animation: float 4s ease-in-out infinite;

                @media (min-width: 800px) {
                    top: 30%;
                    right: 10%;
                }
            }

            &.pos-2 {
                top: 45%;
                right: 0%;
                animation: float 3s ease-in-out infinite;

                @media (min-width: 800px) {
                    top: 70%;
                    right: 0%;
                }
            }

            &.pos-3 {
                top: 75%;
                right: 5%;
                animation: float 6s ease-in-out infinite;

                @media (min-width: 800px) {
                    top: 110%;
                    right: 20%;
                }
            }

            &.pos-4 {
                top: 30%;
                left: 0%;
                animation: float 6s ease-in-out infinite;

                @media (min-width: 800px) {
                    top: 45%;
                    left: 10%;
                }
            }

            &.pos-5 {
                top: 55%;
                left: 0%;
                animation: float 8s ease-in-out infinite;
                
                @media (min-width: 800px) {
                    top: 80%;
                    left: 5%;
                }
            }

            &.pos-6 {
                top: 80%;
                left: 5%;
                animation: float 10s ease-in-out infinite;

                @media (min-width: 800px) {
                    top: 110%;
                    left: 20%;
                }
            }
        }
    }

    section.about {
        color: var(--dark-text);

        @media (min-width: 800px) {
            width: 50%
        }

        h2 {
            margin-top: 2rem;
        }

        p {
            color: inherit;
            margin-block: 3dvh;
        }
    }

    section.techstack {
        margin-top: 3rem;
        overflow-x: scroll;
        color: var(--dark-text);

        @media (min-width: 800px) {
            margin-top: 30dvh;
        }

        ul {
            display: flex;
            margin-block: 1rem;
            gap: 2rem;
            overflow-x: scroll;
            color: var(--dark-text);
        }

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: var(--dark-text);

            p {
                color: var(--dark-text);
            }
        }

        img.techstack {
            width: 7rem;
            height: 7rem;
            border-radius: var(--border-round);
        }

        picture {

            img {

            }
        }
    }

    section.recentwork {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}